
<div class="teewts-container">
<% @sports.each do |t| %>
  <div class="tweet">
  

    <%= image_tag t.image_url, size: "250x200" if t.image? %>

      <%= t.name %>
      <%= t.address %>
      
      <%= t.about %>
    <%= t.created_at %>
    <%= link_to "詳細へ", sport_path(t.id) %>
    <%= link_to "編集する", edit_sport_path(t.id) %>
    <%= button_to "削除する", sport_path(t.id), method: :delete %>
  </div>
<% end %>
</div>
<h3>Tweet一覧</h3>

<!--ここから-->

<!--ここまで-->

<%= link_to "新規投稿へ", new_sport_path %>

</div>