<%= form_for @sport do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :size => 140 %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, :size => 140 %>
    </div>

    <div class="field">
      <%= f.label :about %>
      <%= f.text_field :about, :size => 140 %>
    </div>
  
    <!--ここから-->
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <!--ここまで-->
  
    <%= f.submit "投稿する" %>
  <% end %>